<div class="content-body">
  <div class="container-fluid mt-3">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="active-member">
              <div class="table-responsive">
                <table class="table table-xs mb-0">
                  <thead>
                    <tr>
                      <th>Tên đăng nhập</th>
                      <th>Email</th>
                      <th>Ngày sinh</th>
                      <th>Tạm khoá</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="item in accounts">
                      <td>
                        <img
                          src="./images/avatar/1.jpg"
                          class="rounded-circle mr-3"
                          alt=""
                        />{{item.username}}
                      </td>
                      <td>{{item.email}}</td>
                      <td>
                        <span ng-bind="item.birthday ? (item.birthday | date:'dd/MM/yyyy') : (currentDate | date:'dd/MM/yyyy')"></span>
                      </td>

                      <td>
                        <span>
                          <label
                            class="switch"
                            data-username="{{item.username}}"
                            ng-class="{'active': toggleStatus[item.username]}"
                          >
                            <input
                              type="checkbox"
                              ng-model="toggleStatus[item.username]"
                              ng-change="toggleChanged(item.username)"
                            />
                            <span class="slider round"></span>
                          </label>
                        </span>
                      </td>
                      <td>
                        <a ng-href="#!/account/{{item.username}}"
                          >Xem chi tiết</a
                        >
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="bootstrap-pagination">
              <nav>
                <ul class="pagination justify-content-end">
                  <li
                    class="page-item"
                    ng-repeat="page in pages"
                    ng-class="{active: page === currentPage}"
                  >
                    <a class="page-link" ng-click="changePage(page)">
                      {{page}}
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal start-->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xác nhận thay đổi trạng thái</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          ng-click="cancelToggle()"
        >
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Nhập mật khẩu của bạn để <strong>{{statusText}}</strong> tài khoản
          <strong>{{username}}</strong>!
        </p>
        <input
          type="password"
          class="form-control"
          id=""
          ng-model="password"
          required
        />
 
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          ng-click="cancelToggle()"
        >
          Hủy
        </button>
        <button
          type="button"
          class="btn btn-primary"
          ng-click="confirmToggle()"
        >
          Xác nhận
        </button>
      </div>
    </div>
  </div>
</div>
