<div class="app-wrapper">
  <div class="app-content pt-3 p-md-3 p-lg-4">
    <div class="container-xl">
      <div class="row g-3 mb-4 align-items-center justify-content-between">
        <div class="col-auto">
          <h1 class="app-page-title mb-0">Bài Đăng</h1>
        </div>
        <div class="col-auto">
          <div class="page-utilities">
            <div
              class="row g-2 justify-content-start justify-content-md-end align-items-center"
            >
              <div class="col-auto">
                <form
                  class="table-search-form row gx-1 align-items-center"
                  ng-submit="searchPost()"
                >
                  <div class="col-auto">
                    <input
                      type="text"
                      ng-model="searchKeyword"
                      id="search-orders"
                      name="searchorders"
                      class="form-control search-orders"
                      placeholder="Tìm kiếm"
                    />
                  </div>
                </form>
              </div>
              <div class="col-auto">
                <select class="form-select w-auto">
                  <option selected value="option-1">All</option>
                  <option value="option-2">This week</option>
                  <option value="option-3">This month</option>
                  <option value="option-4">Last 3 months</option>
                </select>
              </div>
              <div class="col-auto">
                <a class="btn app-btn-secondary" href="#">
                  <svg
                    width="1em"
                    height="1em"
                    viewBox="0 0 16 16"
                    class="bi bi-download me-1"
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"
                    />
                    <path
                      fill-rule="evenodd"
                      d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"
                    />
                  </svg>
                  Download CSV
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="app-card app-card-orders-table shadow-sm mb-5">
        <div class="app-card-body">
          <div class="table-responsive">
            <table class="table app-table-hover mb-0 text-left">
              <thead>
                <tr>
                  <th class="cell">STT</th>
                  <th class="cell">Tên tài khoản</th>
                  <th class="cell">Ngày sinh</th>
                  <th class="cell">Trạng thái</th>
                  <th class="cell"></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in accounts">
                  <td class="cell">
                    {{$index + 1 + (currentPage - 1) * pageSize}}
                  </td>
                  <td class="cell">{{item.username}}</td>
                  <td class="cell">
                    {{item.birthday | date: 'dd/MM/yyyy, hh:mm a'}}
                  </td>
                  <td class="cell">
                    <span>
                      <label
                        class="switch"
                        data-username="{{item.username}}"
                        ng-class="{'active': toggleStatus[item.username]}"
                      >
                        <input
                          type="checkbox"
                          ng-model="toggleStatus[item.username]"
                          ng-change="toggleChanged(item.username)"
                        />
                        <span class="slider round"></span>
                      </label>
                    </span>
                  </td>
                  <div
                    class="modal fade"
                    id="confirmModal"
                    tabindex="-1"
                    role="dialog"
                  >
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">
                            Xác nhận thay đổi trạng thái
                          </h5>
                        </div>
                        <div class="modal-body">
                          <p>
                            Nhập mật khẩu của bạn để
                            <strong>{{statusText}}</strong> bài đăng
                            <strong>{{item.username}}</strong>!
                          </p>
                          <input
                            type="password"
                            class="form-control"
                            ng-model="password"
                            placeholder="Nhập mật khẩu"
                            required
                          />
                        </div>
                        <div class="modal-footer">
                          <button
                            type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal"
                            ng-click="cancelToggle()"
                          >
                            Hủy
                          </button>
                          <button
                            type="button"
                            class="btn btn-primary"
                            ng-click="confirmToggle()"
                          >
                            Xác nhận
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <td class="cell">
                    <a
                      class="btn-sm app-btn-secondary"
                      ng-href="#!/account/{{item.username}}"
                      >Xem</a
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <nav class="app-pagination m-4">
          <ul class="pagination justify-content-end">
            <li
              class="page-item"
              ng-repeat="page in pages"
              ng-class="{'active': page === currentPage}"
            >
              <a
                class="page-link"
                href="#"
                ng-click="changePage(page)"
                ng-if="page !== '...'"
                >{{page}}</a
              >
              <span class="page-link" ng-if="page === '...'">...</span>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
