
<section>
  <div class="gap2 gray-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row merged20" id="page-contents">
            <div class="user-profile">
              <figure>
                <div class="edit-pp">
                  <label class="fileContainer">
                    <i class="fa fa-camera"></i>
                    <input type="file" />
                  </label>
                </div>
                <img src="images/resources/profile-image.jpg" alt="" />
               
              </figure>

              <div class="profile-section">
                <div class="row">
                  <div class="col-lg-10 col-md-9">
                      <ul class="profile-menu">
                          <li>
                              <a class="active" href="index/{{user.username}}">Dòng thời gian</a>
                          </li>
                          <li>
                              <a class="" href="about/{{user.username}}">Về tôi</a>
                          </li>
                          <li>
                              <a class="" href="/friends/{{user.username}}">Gợi ý kết bạn</a>
                          </li>
                          <li>
                            <a class="" href="schedule/{{user.username}}">Lịch trình</a>
                          </li>
                      </ul>
                  </div>
              </div>

              </div>
            </div>
            <!-- user profile banner  -->
            <div class="col-lg-4">
              <aside class="sidebar static left">
                <!-- badges -->
                <div class="widget">
                  <div class="weather-widget low-opacity bluesh">
                    <div
                      class="bg-image"
                      style="
                        background-image: url(images/resources/weather.jpg);
                      "
                    ></div>
                    <span class="refresh-content"
                      ><i class="fa fa-refresh"></i
                    ></span>
                    <div class="weather-week">
                      <div class="icon sun-shower">
                        <div class="cloud"></div>
                        <div class="sun">
                          <div class="rays"></div>
                        </div>
                        <div class="rain"></div>
                      </div>
                    </div>
                    <div class="weather-infos">
                      <span class="weather-tem">25</span>
                      <h3>Cần Thơ<i>Thường Thạnh, Cái Răng</i></h3>
                      <div class="weather-date skyblue-bg">
                        <span>MAY<strong>21</strong></span>
                      </div>
                    </div>
                    <div class="monthly-weather">
                      <ul>
                        <li>
                          <span>Sun</span>
                          <a href="#" title=""
                            ><i class="wi wi-day-sunny"></i
                          ></a>
                          <em>40°</em>
                        </li>
                        <li>
                          <span>Mon</span>
                          <a href="#" title=""
                            ><i class="wi wi-day-cloudy"></i
                          ></a>
                          <em>10°</em>
                        </li>
                        <li>
                          <span>Tue</span>
                          <a href="#" title=""
                            ><i class="wi wi-day-hail"></i
                          ></a>
                          <em>20°</em>
                        </li>
                        <li>
                          <span>Wed</span>
                          <a href="#" title=""
                            ><i class="wi wi-day-lightning"></i
                          ></a>
                          <em>34°</em>
                        </li>
                        <li>
                          <span>Thu</span>
                          <a href="#" title=""
                            ><i class="wi wi-day-showers"></i
                          ></a>
                          <em>22°</em>
                        </li>
                        <li>
                          <span>Fri</span>
                          <a href="#" title=""
                            ><i class="wi wi-day-windy"></i
                          ></a>
                          <em>26°</em>
                        </li>
                        <li>
                          <span>Sat</span>
                          <a href="#" title=""
                            ><i class="wi wi-day-sunny-overcast"></i
                          ></a>
                          <em>30°</em>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <!-- Weather Widget -->
                </div>
             
            
                <div class="widget">
                  <h4 class="widget-title">THÔNG BÁO:</h4>
                  <ul class="activitiez">
                    <li>
                      <div class="activity-meta">
                        <i>10 hours Ago</i>
                        <span
                          ><a href="#" title=""
                            >Commented on Video posted
                          </a></span
                        >
                        <h6>by <a href="time-line.html">black demon.</a></h6>
                      </div>
                    </li>
                    <li>
                      <div class="activity-meta">
                        <i>30 Days Ago</i>
                        <span
                          ><a href="#" title=""
                            >Posted your status. “Hello guys, how are you?”</a
                          ></span
                        >
                      </div>
                    </li>
                    <li>
                      <div class="activity-meta">
                        <i>2 Years Ago</i>
                        <span
                          ><a href="#" title=""
                            >Share a video on her timeline.</a
                          ></span
                        >
                        <h6>"<a href="#">you are so funny mr.been.</a>"</h6>
                      </div>
                    </li>
                  </ul>
                </div>
                <!-- recent activites -->
                <div class="widget stick-widget">
                  <h4 class="widget-title">Following</h4>
                  <ul class="followers">
                    <li>
                      <figure>
                        <img src="images/resources/friend-avatar2.jpg" alt="" />
                      </figure>
                      <div class="friend-meta">
                        <h4>
                          <a href="time-line.html" title="">Kelly Bill</a>
                        </h4>
                        <a href="#" title="" class="underline">Add Friend</a>
                      </div>
                    </li>
                    <li>
                      <figure>
                        <img src="images/resources/friend-avatar4.jpg" alt="" />
                      </figure>
                      <div class="friend-meta">
                        <h4><a href="time-line.html" title="">Issabel</a></h4>
                        <a href="#" title="" class="underline">Add Friend</a>
                      </div>
                    </li>
                    <li>
                      <figure>
                        <img src="images/resources/friend-avatar6.jpg" alt="" />
                      </figure>
                      <div class="friend-meta">
                        <h4><a href="time-line.html" title="">Andrew</a></h4>
                        <a href="#" title="" class="underline">Add Friend</a>
                      </div>
                    </li>
                    <li>
                      <figure>
                        <img src="images/resources/friend-avatar8.jpg" alt="" />
                      </figure>
                      <div class="friend-meta">
                        <h4><a href="time-line.html" title="">Sophia</a></h4>
                        <a href="#" title="" class="underline">Add Friend</a>
                      </div>
                    </li>
                    <li>
                      <figure>
                        <img src="images/resources/friend-avatar3.jpg" alt="" />
                      </figure>
                      <div class="friend-meta">
                        <h4><a href="time-line.html" title="">Allen</a></h4>
                        <a href="#" title="" class="underline">Add Friend</a>
                      </div>
                    </li>
                  </ul>
                </div>
                <!-- who's following -->
              </aside>
            </div>
            <!-- sidebar -->
            <div class="col-lg-8">
              <div class="central-meta postbox">
                <span class="create-post">Bài đăng:</span>
                <div class="new-postbox">
                  <figure>
                    <img src="user/images/resources/admin.jpg" alt="" />
                  </figure>
                  <div class="newpst-input">
                    <form method="post">
                      <textarea
                        rows="2"
                        placeholder="Bạn đang nghĩ gì?"
                      ></textarea>
                    </form>
                  </div>
                  <div class="attachments">
                    <ul>
                      <li>
                        <span class="add-loc">
                          <i class="fa fa-map-marker"></i>
                        </span>
                      </li>
                      <li>
                        <i class="fa fa-music"></i>
                        <label class="fileContainer">
                          <input type="file" />
                        </label>
                      </li>
                      <li>
                        <i class="fa fa-image"></i>
                        <label class="fileContainer">
                          <input type="file" />
                        </label>
                      </li>
                      <li>
                        <i class="fa fa-video-camera"></i>
                        <label class="fileContainer">
                          <input type="file" />
                        </label>
                      </li>
                      <li>
                        <i class="fa fa-camera"></i>
                        <label class="fileContainer">
                          <input type="file" />
                        </label>
                      </li>
                      
                    </ul>
                    <button class="post-btn" type="submit" data-ripple="">
                      Đăng
                    </button>
                  </div>
                  <div class="add-location-post">
                    <span>Drag map point to selected area</span>
                    <div class="row">
                      <div class="col-lg-6">
                        <label class="control-label">Lat :</label>
                        <input type="text" class="" id="us3-lat" />
                      </div>
                      <div class="col-lg-6">
                        <label>Long :</label>
                        <input type="text" class="" id="us3-lon" />
                      </div>
                    </div>
                    <!-- map -->
                    <div id="us3"></div>
                  </div>
                </div>
              </div>
              <!-- add post new box -->
           
              <!-- suggested friends -->
              <div class="loadMore">
                <div class="central-meta item" ng-re>
                  <div class="user-post" ng-repeat="post in posts">
                    <div class="friend-info">
                        <figure>
                            <img src="user/images/resources/nearly1.jpg" alt="" />
                        </figure>
                        <div class="friend-name">
                            <div class="more">
                                <div class="more-post-optns">
                                    <i class="ti-more-alt"></i>
                                    <ul>
                                        <li><i class="fa fa-pencil-square-o"></i>Đăng bài</li>
                                        <li><i class="fa fa-trash-o"></i>Xóa</li>
                                        <li class="bad-report"><i class="fa fa-flag"></i>Report</li>
                                    </ul>
                                </div>
                            </div>
                            <ins>
                                <a href="time-line.html" title="">{{ post.username.lastname }} {{ post.username.firstname }}</a> chia sẻ <a href="#" title="">link</a>
                            </ins>
                            <span>
                                <i class="fa fa-globe"></i> {{ post.createdate | date:'yyyy-MM-dd' }}
                            </span>
                        </div>
                        <div class="post-meta">
                            <figure>
                                <a title="" data-strip-group="mygroup" class="strip vdeo-link" data-strip-options="width: 700,height: 450,youtube: { autoplay: 1 }">
                                  <div ng-repeat="postImage in post.postimages">
                                    <img ng-src="/user/images/{{ postImage.image }}" alt="" />
                                  </div>    
                                </a>
                            </figure>
                            <div class="description">
                                <p>{{ post.content }}</p>
                            </div>
                            <div class="coment-area" style="display: block">
                                <ul class="we-comet">
                                    <li ng-repeat="comment in post.comments">
                                        <div class="comet-avatar">
                                            <img src="images/resources/nearly3.jpg" alt="" />
                                        </div>
                                        <div class="we-comment">
                                            <h5><a href="time-line.html" title="">{{ comment.username }}</a></h5>
                                            <p>{{ comment.text }}</p>
                                            <div class="inline-itms">
                                                <span>{{ comment.date | date:'yyyy-MM-dd' }}</span>
                                                <a class="we-reply" href="#" title="Reply"><i class="fa fa-reply"></i></a>
                                                <a href="#" title=""><i class="fa fa-heart"></i><span>{{ comment.likes }}</span></a>
                                            </div>
                                        </div>
                                    </li>
                                    
                                    <li class="post-comment">
                                        <div class="comet-avatar">
                                            <img src="images/resources/nearly1.jpg" alt="" />
                                        </div>
                                        <div class="post-comt-box">
                                            <form ng-submit="submitComment(post.id)">
                                                <textarea placeholder="Post your comment" ng-model="newComment.text"></textarea>
                                                <div class="add-smiles">
                                                    <div class="uploadimage">
                                                        <i class="fa fa-image"></i>
                                                        <label class="fileContainer">
                                                            <input type="file" />
                                                        </label>
                                                    </div>
                                                    <span class="em em-expressionless" title="add icon"></span>
                                                    <div class="smiles-bunch">
                                                        <i class="em em-smiley"></i>
                                                        <i class="em em-anguished"></i>
                                                        <i class="em em-laughing"></i>
                                                        <i class="em em-angry"></i>
                                                    </div>
                                                </div>
                                                <button type="submit">Post</button>
                                            </form>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="we-video-info">
                                <ul>
                                    <li>
                                        <div class="likes heart" title="Like/Dislike">
                                            ❤ <span>2K</span>
                                        </div>
                                    </li>
                                    <li>
                                        <span class="comment" title="Comments">
                                            <i class="fa fa-commenting"></i>
                                            <ins>52</ins>
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <a class="share-pst" href="#" title="Share">
                                                <i class="fa fa-share-alt"></i>
                                            </a>
                                            <ins>20</ins>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
                </div>
               
            </div>
            <!-- centerl meta -->
         
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
