<section>
	<div class="col-lg-12 col-md-9">
		<ul class="profile-menu">
		  <li>
			  <a  href="/index/{{user.username}}">Dòng thời gian</a>
		  </li>
		  <li>
			  <a class="" href="/about/{{user.username}}">Về tôi</a>
		  </li>
		  <li>
			  <a class="" href="/friends/{{user.username}}">Gợi ý kết bạn</a>
		  </li>
		  <li>
			<a class="active" href="schedule/{{user.username}}">Lịch trình</a>
		  </li>
	  </ul>
		<ol class="folw-detail">
		  <li><span>Followers</span><ins>1.3K</ins></li>
		  <li><span>Following</span><ins>22</ins></li>
		</ol>
	  </div>
		<div class="page-header">
			<div class="header-inner">
				<h2>Event Calendar</h2>
				<p>
					Welcome to Pitnik Social Network. Here you’ll find the event calendar for save event and reminder notificaton, & ready made elemets as you want. you can use to show on your custom pages.
				</p>
			</div>
			<figure><img src="/user/images/resources/baner-typography.png" alt=""></figure>
		</div>
	</section>
    <section>
		<div class="gap gray-bg">
			<div class="container">
				<div class="row" id="page-contents">
					<div class=" col-lg-12">
						<div class="central-meta">
							<div id="calendar"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>