<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Private Messaging</title>
    <link rel="stylesheet" href="css/main.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/color.css" />
    <link rel="stylesheet" href="css/responsive.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-cookies.js"></script>
  </head>
  <body>
    <div ng-controller="ChatController">
      <div class="mesg-peple">
        <ul class="nav nav-tabs nav-tabs--vertical msg-pepl-list">
          <li
            class="nav-item"
            ng-repeat="friend in friends"
            ng-class="{ 'unread': friend.unread }"
          >
            <a data-toggle="tab" ng-click="selectFriend(friend)">
              <figure>
                <span
                  class="status"
                  ng-class="{
                                'f-online': friend.status === 'online',
                                'f-offline': friend.status === 'offline'
                            }"
                ></span>
              </figure>
              <div class="user-name">
                <h6>
                  {{ friend.lastname || 'N/A' }} {{ friend.firstname || 'N/A' }}
                </h6>
                <span
                  >{{ friend.status === 'online' ? 'Online' : 'Offline' }}</span
                >
                <!-- Hiển thị tên người dùng ở đây -->
                <div>Username: {{ friend.username || 'Unknown' }}</div>
              </div>
            </a>
          </li>
        </ul>
      </div>

      <div class="col-lg-8 col-md-8">
        <div class="mesge-area">
          <ul class="conversations">
            <li
              ng-repeat="msg in messages"
              ng-class="{'me': msg.sender === username, 'you': msg.sender !== username}"
            >
              <div class="text-box">
                <p>{{ msg.content }}</p>
                <span>
                  <i class="ti-check"></i><i class="ti-check"></i> {{ msg.time |
                  date:'shortTime' }}
                </span>
              </div>
            </li>
          </ul>
          <div ng-if="messages.length === 0">
            No messages yet. Start a conversation!
          </div>
        </div>

        <div class="message-writing-box">
          <form ng-submit="sendMessage()">
            <div class="text-area">
              <input
                type="text"
                placeholder="Write your message here..."
                ng-model="chatMessage.content"
                required
              />
              <button type="submit"><i class="fa fa-paper-plane-o"></i></button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.5.0/dist/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="js/main.min.js"></script>
    <script src="js/script.js"></script>
    <script src="/user/app.js"></script>
    <script src="/user/js/service/apiService.js"></script>
    <script src="/user/js/controller/ChatController.js"></script>
  </body>
</html>
